<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>User Profile</title>
</head>
<body>
	<section>
	
	<div class="card mx-3">
	
	<div class="card-body">
		<div class="table-responsive">
				<div class="container text-center ">
					<img style="width: 200px; height: 200px; border-radius: 50%;"
						th:src="@{'/image/'+${user.image_url}}" alt="profile image"></img>
				</div>

				<h1 class="text-center " th:text="${user.name}"></h1>
	
		<table class="table ">
						<thead>
							<tr>
								<th scope="col">#USERID</th>
								<th scope="col">SCMUSER<span th:text="${user.id}"></span></th>

							</tr>
						</thead>
						<tbody>

							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${user.email}"></span></td>
							</tr>
							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>
							</tr>
							<tr>
								<th scope="row">Account Active</th>
								<td><span th:text="${user.enabled}"></span></td>
							</tr>
							<tr>
								<th scope="row">About you</th>
								<td><span th:text="${user.about}"></span></td>
							</tr>
						</tbody>
					</table>
					

	
	</div>
	</div>
	</div>
	<script type="text/javascript">
	
	$(document).ready(()=>{
		$(".item").removeClass("active");
		$("#profile-link").addClass("active");
		
	});
	
	
	</script>
	
	</section>
</body>
<