
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-6 offset-md-3">

					<div class="my-card mt-2">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">

							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>

						</div>

						<h1 class="text-center">Register Here !!</h1>

						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

							<!--name filed  -->

							<div class="mb-3">
								<label for="name_filed" class="form-label">Your Name</label> <input
									type="text" name="name" class="form-control "
									th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
									id="name_filed" aria-describedby="emailHelp"
									placeholder="Enter Here" th:value="${user.name}" required />
								<div class="invalid-feedback"
									th:each="e:${#fields.errors('name')}" th:text="${e}"></div>

							</div>

							<!--email filed  -->

							<div class="mb-3">
								<label for="email_filed" class="form-label">Your Email</label> <input
									type="email" name="email" class="form-control" 
									th:classappend="${#fields.hasErrors('email')? 'is-invalid' :''}"
									id="email_filed"
									aria-describedby="emailHelp" placeholder="Enter Here"
									th:value="${user.email}" required />
											
									<div class="invalid-feedback" th:each="e :${#fields.errors('email')}" th:text="${e}"></div>
						
							</div>

							<!--password filed  -->

							<div class="mb-3">
								<label for="password_filed" class="form-label">Your
									Password</label> <input type="password" name="password"
									class="form-control" 
									th:classappend="${#fields.hasErrors('password')? 'is-invalid':''}"
									id="password_filed"
									aria-describedby="emailHelp" placeholder="Enter Here" required />
											
									<div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
												
							</div>


							<!--user about fileds -->

							<div class="mb-3">

								<textarea placeholder="Enter something yourself" rows="6"
									name="about" class="form-control" th:text="${user.about}"></textarea>

							</div>

							<!--term and condition agreement  -->

							<div class="md-3 text-center">

								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept term
									and condition</label>
										

							</div>

							<div class="form-group text-center">
												<br>
								<button type="submit" class="btn bg-primary text-white">Submit</button>

								<button type="reset" class="btn  text-white btn-warning ">Reset</button>
								
								<div id="register-link" class="text-center">
							<label>or</label><br>
                                <a href="/signin" class="text-info">login here</a>
                            </div>
							</div>

						</form>

					</div>

				</div>

			</div>
		</div>

	</section>
</body>
</html>

